:root {
  --c-primary: #420003;
  --c-bg: #ffffff;

  --c-font-dark: #484848;
  --c-font: #b99b78;
  --c-font-light: #b8b8b8;
  --c-font-light1: #b4b4b4;

  --c-white: #ffffff;
  --c-white-light: rgba(255, 255, 255, 0.8);
  --c-black: #181818;

  --c-border: #e8e8e8;
  --c-border-dark: #d8d8d8;

  --c-shadow: rgba(0, 0, 0, 0.2);
}
