*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
  color: var(--c-font);
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  background-color: var(--c-border);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--c-primary);
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

img {
  user-select: none;
}

button {
  user-select: none;
  outline: none;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

b {
  font-weight: 600;
}

textarea {
  resize: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
